body{
    background-color: #2B2D42;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1573804613658-6e8bc17661c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    
}


fieldset{
    border-style: solid;
    border-width: 0;
    border-color: #8D99AE ;
    margin: auto auto;
    margin-top: 5vh;
    width: 700px;
    max-width: 200vh;
    height: 80vh;
    background-color: #EDF2F4;
    border-radius: 10px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-self: center;
}


h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 20px;
    border-color: white;
    color: #2B2D42;
    text-decoration: double;
    font-weight: 700;
    
}

.reg{
    color: #2B2D42;
}
#header{
    border-color: #EDF2F4;
    
    margin: 10px;
    align-self: center;
}

.formm{
    text-align: center;

}

input{
    border: none;
    outline: none;
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    position: relative;
    
}
#male, #female{
    width: 20px;
    text-align: center;
}
button{
    outline: none none none;
    width: 200px;
    border-radius: 20px;
    border-color: black;
    padding: 7px;
    margin: 10px;
    cursor: pointer;
    background-color:#2B2D42;
    color: white;
}
button:hover{
    background-color:aliceblue;
    color: #2B2D42;
}
button:active{
    background-color: #8D99AE;
}
